<div>
  <h1>IRIS Data</h1>
  <hr />
  <h1 *ngIf="!data">Loading, please wait...</h1>
  <div *ngIf="data">
    <mat-form-field>
      <mat-label>Filter by Type</mat-label>
      <mat-select [(ngModel)]="filterValue" (selectionChange)="applyFilter($event)">
        <mat-option *ngFor="let type of filterTypes" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort #templateSort="matSort" >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="fieldSurveyTerritoryName" >
        <th mat-header-cell *matHeaderCellDef> Territory Name </th>
        <td mat-cell *matCellDef="let element"> {{element.fieldSurveyTerritoryName}} </td>
      </ng-container>
      <ng-container matColumnDef="nearMapImageDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Near Map Img Date </th>
        <td mat-cell *matCellDef="let element"> {{element.nearMapImageDate}} </td>
      </ng-container>
      <ng-container matColumnDef="subdivisionStatusCode">
        <th mat-header-cell *matHeaderCellDef> Subdiv Status </th>
        <td mat-cell *matCellDef="let element"> {{element.subdivisionStatusCode}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
    </table>
    <mat-paginator #paginator length=1598 pageSize=5 [pageSizeOptions]="[5,10]" showFirstLastButtons></mat-paginator>
  </div>
</div>
